<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="keywords" content="mision de una pulperia, vision de productos, productos regionales, ideas propias">
	<meta name="description" content="DIONI muestra un concepto de las antiguas pulperias del paise tratando de crear una experiencia virtual en donde se fomenten los productos con identidad regional">
	<title>DIONI - Concepto</title>
<!--BIBLIOTECA BOOTSTRAP-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<!--LINK A CSS-->
	<link rel="stylesheet" href="../assets/css/style.css">
<!--FONTS-->
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">
</head>
<body>
<!-- COMIENZA BARRA-->
	<header id="header" class="fixed-top">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
					<nav class="navbar navbar-expand-md navbar-light">
					 	<a id="logo" class="navbar-brand" href="../index.html">
					    	<img src="../img/logo.png" width="101" height="58" class="d-inline-block align-top" alt="navbar brand" loading="lazy">
					 	</a>
					 	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					    	<span class="navbar-toggler-icon"></span>
					  	</button>
						<div class="collapse navbar-collapse justify-content-end collapse" id="navbarNav">
						    <ul class="navbar-nav">
						      	<li class="nav-item active">
						        	<a class="nav-link" href="../views/nosotros.html">Nosotros<span class="sr-only">(current)</span></a>
						      	</li>
						      	<li class="nav-item">
						        	<a class="nav-link" href="../views/concepto.html">Concepto<span class="sr-only">(current)</span></a>
						      	</li>
						      	<li class="nav-item dropdown">
						        	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Enamorate<span class="sr-only">(current)</span></a>
						        	<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						          		<a class="dropdown-item" href="../views/vinos.html">Vinos</a>
						          		<a class="dropdown-item" href="../views/gin.html">Gin</a>
						          		<a class="dropdown-item" href="../views/gin.html">Especias</a>
						        	</div>
						      	</li>
						      	<li class="nav-item">
						        	<a class="nav-link" href="../index.html#contact">Contactanos<span class="sr-only">(current)</span></a>
						      	</li>
						   	</ul>
						</div>
					</nav>
				</div><!--fin col-->
			</div><!--fin row-->
		</div> <!--fin container-->
	</header>
<!--FIN BARRA-->
<!--INICIO FOOTER-->
<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-4 col-xl-4">
				<h3>LA PULPERIA</h3>
	                <p>El diseño y la identidad de una marca es acaso lo mas importante, esta no solo tiene que representar sino también transmitir lo que se desea.
	                Por eso elegimos <var>Sticky Stuff</var> un estudio de diseño de emprendedores jovenes, no solo por su excelencia en el trabajo, sino porque coincide con lo que queremos en nuestra empresa, trabajo mancomunado entre pequeños emprendedores.</p>
	        </div><!--fin col1-->
	        <div class="col-md-3 col-xl-3"></div>
	        <div class="col-xs-6 col-sm-6 col-md-4 col-xl-4">
	        	<div class="footerContact">
	            <h3>CONTACTANOS</h3>
	            <p>
	                Avenida Espejo 13
	                <br>
	                San Rafael, Mendoza, Argentina.
	                <br>
	               	Email: dionipulperia@gmail.com
	               	<div class="socialMedia">
	                    <img src="./img/face.png" alt="logoFace"height="55px" width="55px">
	                    <img src="./img/insta.png" alt="logoInsta" height="55px" width="55px">
	                </div>
	             </p>
	            </div>
	        </div><!--fin col2-->
        </div><!--fin row-->
	</div><!--fin container-->
</footer>
<!--FIN FOOTER-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="./js/main.js"></script>	
</body>
</html>